---
layout: default
title: Blog
---

<div class="blog-list-container">
    <h1 class="page-title">Blog</h1>
    
    <div class="blog-posts">
        {% for post in site.blog %}
        <article class="blog-post-card">
            <a href="{{ post.url }}" class="post-link">
                {% if post.featured_image %}
                <div class="post-image">
                    <img src="{{ post.featured_image }}" alt="{{ post.title }}">
                </div>
                {% endif %}
                <div class="post-details">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="post-meta">
                        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                    </div>
                    {% if post.description %}
                    <p class="post-excerpt">{{ post.description }}</p>
                    {% endif %}
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</div>
