<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%s' }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@9/swiper-bundle.min.css" />
</head>
<body>
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 HypeVN. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper@9/swiper-bundle.min.js"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
</body>
</html>
